*{
    font-family: Open Sans;
}

header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-top: none;
}

.header-navbar{
    display: flex;
    justify-content: space-between; 
    /* place elements spacing max between them */
    align-items: center;
    padding: 10px 100px;
    
}

.header-ul li{
    margin-right: 20px;
    text-align: center;
}

.header-navbar ul{
    display: flex;
    text-align: justify;
    align-items: center;
    
}
.header-navbar ul li{
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    
}

.mary-header{
    width: 121px;
    height: 61px;
    left: 226px;
    top: 51px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}
.orange-text{
    color: #FD6E0A;
    
}
.orange-btn{
    background-color: #FD6E0A;
    border: 0px;
    border-radius: 2px;
    padding-left: 5px;
    position: center;
    font-size: large;
    width: 100px;
    height: 50px;
    left: 1220px;
    top: 50px;
    color: #FFFFFF;
}

/* banner style */
.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
}
.introduction h1, h3, p{
    margin: 0px;
}
.discription{
    margin-bottom: 30px;
}
.contact-btn{
    color: #FD6E0A;
    background-color: #FFFFFF;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding-left: 5px;
    position: center;
    font-size: large;
    width: 100px;
    height: 50px;
    left: 1220px;
    top: 50px;
    margin-left: 30px;
}
/* About Me style */
.about-me-div{
    background-color: #FFF8F3;
    margin-right: 230px;
    margin-left: 230px;
    margin-top: 100px;
   
}
.about-me-txt{
    padding-top: 80px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    color: #181818;
    margin-bottom: 30px;
}
.me-des{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    color: #757575;
}
.info-container{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 80px;
}
.info-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    text-align: center;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    text-align: center;
}

/* What I Do style*/
.my-work{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    padding-top: 10px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

/* What I Know Style */
.what-i-know-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-right: 230px;
    margin-left: 230px;
}

.what-i-know{
    width: 300px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 20px;    
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    text-align: left;
}
.title-0{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}
.para-0{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    
}
